body {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline: none !important;
}

a {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 5px 20px;
    text-decoration: none;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin: 5px 0px;
}

a:focus, a:active, a:hover {
    background: #f39c12;
    color: white;
    text-decoration: none;
}

.focus-highlight {
    position: absolute;
    -webkit-transition: left 100ms ease-out, top 100ms ease-out, width 100ms ease-out, height 100ms ease-out;
    transition: left 100ms ease-out, top 100ms ease-out, width 100ms ease-out, height 100ms ease-out;
    outline: 2px solid #FF0000;
    outline-offset: 4px;
    /*border: 2px solid #fff;*/
    pointer-events: none;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    z-index: 1000;
}

a[disabled] {
    background: #bdc3c7;
}

.header {
    font-size: 15px;
    margin: 10px 0;
}

/*[focus-group] {*/
/*position: relative;*/
/*outline: 1px dashed lightgray;*/
/*padding: 20px 20px;*/
/*margin: 10px;*/
/*}*/

.group-name {
    position: absolute;
    top:0;
    left: 0;
    display: inline-block;
    background: #333;
    color: #ffffff;
    font-size: 9px;
    font-weight: bold;
    padding: 4px 8px;
    z-index: 999999;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -125px;
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border: 1px solid blue;
}